<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head-includes.ejs') %>
    <title><%-pageTitle%></title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="form-signup m-auto">
      <div class="py-5 text-center">
        <h1 class="h2">SignUp Form</h1>
        <p class="lead">
          In order to post on this blog website, you will need to signup with a
          valid email address and also confirm that email address
        </p>
      </div>
      <div class="row g-5">
        <div class="col-md-12 col-lg-12">
          <form class="needs-validation" method="post" action="/signup">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder=""
                  required="required"
                />
                <div class="invalid-firstname"></div>
              </div>
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  value=""
                  required="required"
                />
                <div class="invalid-lastname"></div>
              </div>
              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required="required"
                  />
                  <div class="invalid-username"></div>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value=""
                  required="required"
                />
                <div class="invalid-password"></div>
              </div>
              <div class="col-sm-6">
                <label for="confirmpassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmpassword"
                  name="confirmpassword"
                  value=""
                  required="required"
                />
                <div class="invalid-confirmpassword"></div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required="required"
                />
                <div class="invalid-email"></div>
              </div>
              <button class="btn btn-primary" type="submit">SignUp</button>
            </div>
            <input type="hidden" name="atFtk" value="<%=atFtk%>" />
          </form>
        </div>
      </div>
    </main>
    <%- include('../includes/body-includes.ejs') %>
  </body>
</html>
